*
  box-sizing: border-box
body
  +reg
  font-size: 14px
  color: $color-text_main
img
  max-width: 100%
a 
  cursor: pointer
  text-decoration: none
  color: $color-ahref
  &:visited
    color: $color-ahref
  &:hover
    color: lighten($color-ahref, 50%)
    @media (max-width: 992px)
      color: $color-ahref
      cursor: default !important
.bold
  +bold
.block
  display: block
.container
  max-width: 1215px
  margin: auto
  @media (max-width: 1215px)
    max-width: 980px
  @media (max-width: 992px)
    max-width: 760px
  @media (max-width: 768px)
    max-width: 540px
  @media (max-width: 567px)
    max-width: 410px
  @media (max-width: 420px)
    max-width: 277px
.button
  background-color: $color-button
  border: none
  +bold
  color: $color-white
  outline: none
  line-height: 25.05px
  width: 186px
  height: 46px
  &:hover
    cursor: pointer
    background-color: lighten($color-button, 20%)
    @media (max-width: 992px)
      cursor: default
      background-color: $color-button
  &_orange
    // padding: 10px 31px 12px 34px
    background-color: $color-button_add
    &:hover
      background-color: lighten($color-button_add, 20%)
      @media (max-width: 992px)
        background-color: $color-button_add
  &_big
    width: 217px
    height: 50px

.input
  &:focus
    border: 1px solid $color-button
    outline: none
.section
  &-title
  &-subtitle

.test
  height: 50px
  background-color: grey

// .flexwrap-sb
//   display: flex
//   justify-content: space-between

.section
  padding: 89px 0 96px 0
  &__title
    +bold
    font-size: 32px
    text-transform: uppercase
    line-height: 30px
    margin: 0
  &__subtitle
    font-size: 15px
    line-height: 30px
    margin: 0
    +reg
.center-items
  display: flex
  align-items: center
  flex-direction: column
