input[type="radio"]
  display: none
.sort-label
  display: inline-block
  width: 110px
  height: 25px
  border-radius: 13px
  border: 1px solid $color-label
  text-align: center
  padding-top: 4px
  margin-right: 6px
.sort
  // width: 891px
  height: 55px
  background-color: $color-white
  padding: 17px 2px 2px 26px
  margin-bottom: 40px
  &_text
    margin-right: 11px
input[type="radio"]:checked + label
  background-color: $color-button