* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #1f1f1f;
}

img {
  max-width: 100%;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: #030303;
}

a:visited {
  color: #030303;
}

a:hover {
  color: #838383;
}

@media (max-width: 992px) {
  a:hover {
    color: #030303;
    cursor: default !important;
  }
}

.bold {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}

.block {
  display: block;
}

.container {
  max-width: 1215px;
  margin: auto;
}

@media (max-width: 1215px) {
  .container {
    max-width: 980px;
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 760px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 540px;
  }
}

@media (max-width: 567px) {
  .container {
    max-width: 410px;
  }
}

@media (max-width: 420px) {
  .container {
    max-width: 277px;
  }
}

.button {
  background-color: #7dad4b;
  border: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  color: #ffffff;
  outline: none;
  line-height: 25.05px;
  width: 186px;
  height: 46px;
}

.button:hover {
  cursor: pointer;
  background-color: #b0cf8f;
}

@media (max-width: 992px) {
  .button:hover {
    cursor: default;
    background-color: #7dad4b;
  }
}

.button_orange {
  background-color: #ee8b15;
}

.button_orange:hover {
  background-color: #f5ba74;
}

@media (max-width: 992px) {
  .button_orange:hover {
    background-color: #ee8b15;
  }
}

.input:focus {
  border: 1px solid #7dad4b;
  outline: none;
}

.test {
  height: 50px;
  background-color: grey;
}

.wrap-line {
  border-bottom: 1px solid #e2e2e2;
}

.logobar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 16px 0px 12px 16px;
  font-size: 14px;
}

@media (max-width: 1205px) {
  .logobar {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.logobar_footer {
  border: none;
  padding-left: 8px;
  padding-right: 8px;
}

.logobar_footer .logobar__phone {
  margin-left: 64px;
}

@media (max-width: 768px) {
  .logobar_footer .logobar__phone {
    margin-left: 0;
  }
}

@media (max-width: 992px) {
  .logobar_footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 992px) {
  .logobar {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 768px) {
  .logobar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.logobar__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 992px) {
  .logobar__logo {
    margin-bottom: 20px;
    min-width: 760px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (max-width: 768px) {
  .logobar__logo {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 10px;
    height: 100px;
    min-width: 0px;
  }
}

.logobar__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 768px) {
  .logobar__contacts {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.logobar__subtitle {
  margin-top: 4px;
  font-size: 14px;
  line-height: 19px;
}

.logobar__basket {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 3px;
}

.logobar__basket-icon {
  width: 14px;
  height: 15px;
}

.logobar__basket-sum {
  margin-left: 13px;
}

.logobar__phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 3px;
  margin-left: 48px;
}

@media (max-width: 1205px) {
  .logobar__phone {
    margin-left: 20px;
  }
}

@media (max-width: 768px) {
  .logobar__phone {
    margin-left: 0;
  }
}

.logobar__phone-icon {
  width: 14px;
  height: 15px;
}

.logobar__phone-number {
  margin-left: 13px;
}

.logobar__desc {
  max-width: 247px;
  margin-left: 70px;
}

@media (max-width: 1205px) {
  .logobar__desc {
    margin-left: 20px;
  }
}

@media (max-width: 992px) {
  .logobar__desc {
    margin-left: 153px;
  }
}

@media (max-width: 768px) {
  .logobar__desc {
    margin-left: 0;
    margin-top: 6px;
  }
}

.button_search {
  outline: none;
  padding: 0;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border: none;
  margin-left: -36px;
  margin-top: 1px;
  z-index: 2;
  cursor: pointer;
  position: absolute;
  right: 13px;
  top: 20px;
}

@media (max-width: 768px) {
  .button_search {
    top: 76px;
    right: 6px;
  }
}

.input__search {
  padding: 17px 0 15px 19px;
  border: 1px solid #63564f;
  min-width: 329px;
  margin-left: 69px;
}

@media (max-width: 1205px) {
  .input__search {
    min-width: 199px;
    margin-left: 20px;
  }
}

@media (max-width: 992px) {
  .input__search {
    margin-left: 206px;
  }
}

@media (max-width: 768px) {
  .input__search {
    margin-left: 0;
    padding: 10px 0 10px 19px;
    min-width: 238px;
    margin-top: 6px;
  }
}

.menu {
  padding: 12px 0px 10px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

@media (max-width: 992px) {
  .menu {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

@media (max-width: 768px) {
  .menu {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.menu__links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 10;
}

@media (max-width: 992px) {
  .menu__links {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: absolute;
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    -webkit-transform-origin: 0 0;
            transform-origin: 0 0;
    background-color: #ffffff;
    padding: 10px;
    top: 0;
    left: 51px;
  }
}

@media (max-width: 768px) {
  .menu__links {
    left: 107px;
  }
}

@media (max-width: 567px) {
  .menu__links {
    left: 46px;
  }
}

@media (max-width: 420px) {
  .menu__links {
    left: 59px;
  }
}

.menu__links_active {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.menu__links .menu__item {
  font-size: 13px;
  line-height: 25.05px;
  margin-left: 52px;
  position: relative;
  text-transform: uppercase;
}

@media (max-width: 1205px) {
  .menu__links .menu__item {
    margin-left: 10px;
    font-size: 12px;
  }
}

@media (max-width: 992px) {
  .menu__links .menu__item {
    margin-left: 20px;
  }
}

.menu__links .menu__item:first-child {
  margin-left: 0;
}

@media (max-width: 992px) {
  .menu__links .menu__item:first-child {
    margin-left: 20px;
  }
}

.menu__links .menu__item:nth-child(4) {
  color: #ee8b15;
}

.menu__links .menu__item:nth-child(4) a:visited {
  color: #ee8b15;
}

.menu__links .menu__item:nth-child(4) a:hover {
  color: #7dad4b;
}

@media (max-width: 992px) {
  .menu__links .menu__item:nth-child(4) a:hover {
    color: #ee8b15;
  }
}

.menu__links .menu__item:after {
  content: '';
  display: none;
  width: 50%;
  height: 1px;
  background-color: #7dad4b;
  position: absolute;
  left: 25%;
  bottom: -7px;
}

.menu__links .menu__item a:hover {
  color: #7dad4b;
}

.menu__links .menu__item:hover .submenu {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
}

@media (max-width: 992px) {
  .menu__links .menu__item:hover .submenu {
    color: #030303;
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
}

.menu__links .menu__item:hover:after {
  display: block;
}

@media (max-width: 992px) {
  .menu__links .menu__item:hover:after {
    display: none;
  }
}

@media (max-width: 420px) {
  .button {
    width: 100px;
  }
}

.button__recall {
  margin-left: 5px;
}

@media (max-width: 567px) {
  .button__recall {
    line-height: 15.05px;
  }
}

.button__invite {
  margin-left: 19px;
}

@media (max-width: 1205px) {
  .button__invite {
    margin-left: 25px;
  }
}

@media (max-width: 992px) {
  .button__invite {
    margin-left: 5px;
  }
}

@media (max-width: 567px) {
  .button__invite {
    margin-left: 4px;
    line-height: 15.05px;
  }
}

.toggle-button {
  width: 30px;
  height: 46px;
  background-color: #7dad4b;
  display: none;
  position: relative;
  margin-right: auto;
}

@media (max-width: 992px) {
  .toggle-button {
    display: block;
  }
}

@media (max-width: 768px) {
  .toggle-button {
    margin-right: 0;
  }
}

.toggle-button span {
  width: 15px;
  height: 2px;
  position: absolute;
  top: 50%;
  margin-top: -1px;
  left: 50%;
  margin-left: -9px;
  background-color: #d1d1d1;
}

.toggle-button span:after {
  content: '';
  display: inline-block;
  width: 10px;
  height: 2px;
  background-color: #d1d1d1;
  position: absolute;
  bottom: 10px;
  left: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.toggle-button span:before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 2px;
  background-color: #d1d1d1;
  position: absolute;
  top: 10px;
  left: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.toggle-button_active span {
  background-color: #7dad4b;
}

.toggle-button_active span:after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  width: 20px;
  top: 0;
}

.toggle-button_active span:before {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  width: 20px;
  top: 0;
}

.submenu {
  position: absolute;
  top: 43px;
  left: 0;
  z-index: 10;
  background-color: #ffffff;
  opacity: 0.96;
  min-width: 1200px;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 32px 125px 33px 40px;
}

@media (max-width: 1205px) {
  .submenu {
    min-width: 964px;
  }
}

@media (max-width: 992px) {
  .submenu {
    padding: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    min-width: 0px;
    padding-left: 20px;
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
  .submenu .submenu-category__list {
    display: none;
  }
}

.submenu_active {
  position: static;
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.submenu-category__title {
  position: relative;
}

.submenu-category__title:after {
  position: absolute;
  content: '';
  display: block;
  width: 28px;
  height: 1px;
  background-color: #004526;
  bottom: -15px;
  left: 0;
}

@media (max-width: 992px) {
  .submenu-category__title:after {
    display: none;
  }
}

.submenu-category__list {
  list-style: none;
  padding: 20px 0;
}

.submenu-category__link {
  text-transform: none;
  font-size: 14px;
  letter-spacing: 0.35px;
  line-height: 25.05px;
}

.menu__links .menu__item:nth-child(2) .submenu {
  left: -107px;
}

@media (max-width: 1205px) {
  .menu__links .menu__item:nth-child(2) .submenu {
    left: -63px;
  }
}

@media (max-width: 992px) {
  .menu__links .menu__item:nth-child(2) .submenu {
    left: 0;
  }
}

.button-addsubmenu {
  display: none;
  border: none;
  background-color: #fff;
  margin-left: 20px;
}

@media (max-width: 992px) {
  .button-addsubmenu {
    display: inline-block;
  }
}

.button-addsubmenu_active {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.menu__item.menu__item_hover .submenu {
  -webkit-transform: scaleY(1) !important;
          transform: scaleY(1) !important;
}

.menu__links .menu__item a:hover {
  color: #030303;
}

@media (max-width: 420px) {
  .slider {
    background-color: #7dad4b;
  }
}

.slider__img {
  overflow: hidden;
  width: 100vw;
  position: relative;
  height: 768px;
}

@media (max-width: 992px) {
  .slider__img {
    height: 400px;
  }
}

@media (max-width: 567px) {
  .slider__img {
    height: 250px;
  }
}

.slider__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.slider__desc {
  display: inline-block;
  width: 348px;
  height: 116px;
  background-color: #7dad4b;
  color: #ffffff;
  font-size: 14px;
  letter-spacing: 0.35px;
  padding-top: 35px;
  padding-left: 33px;
  position: absolute;
  bottom: 50px;
  left: 17px;
}

@media (max-width: 992px) {
  .slider__desc {
    height: 90.2px;
    width: 238px;
    padding-top: 20px;
    padding-left: 23px;
    bottom: 30px;
  }
}

@media (max-width: 768px) {
  .slider__desc {
    height: 66.2px;
    width: 158px;
    padding-top: 16px;
    padding-left: 16px;
    font-size: 12px;
    bottom: 20px;
  }
}

@media (max-width: 567px) {
  .slider__desc {
    bottom: 10px;
  }
}

@media (max-width: 420px) {
  .slider__desc {
    position: static;
    height: 40px;
    padding-top: 3px;
    padding-left: 5px;
  }
}

.slider__title {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 25px;
  line-height: 24px;
  letter-spacing: 0.63px;
  margin: 0;
  margin-bottom: 9px;
}

@media (max-width: 768px) {
  .slider__title {
    font-size: 16px;
    line-height: 16px;
    margin-bottom: 5px;
  }
}

.slick-dots {
  list-style: none;
  height: 116px;
  margin: 0 0 0 0;
  padding: 0;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  bottom: 50px;
  left: 364px;
}

@media (max-width: 992px) {
  .slick-dots {
    height: 90.2px;
    left: 274px;
    bottom: 30px;
  }
}

@media (max-width: 768px) {
  .slick-dots {
    left: 174px;
    height: 66.2px;
    bottom: 20px;
  }
}

@media (max-width: 567px) {
  .slick-dots {
    bottom: 10px;
    height: 40.2px;
  }
}

@media (max-width: 420px) {
  .slick-dots {
    left: 134px;
    height: 21.6px;
  }
}

.slick-dots__item {
  position: relative;
  margin-left: 7px;
  max-width: 116px;
}

@media (max-width: 992px) {
  .slick-dots__item {
    max-width: 90.2px;
  }
}

@media (max-width: 768px) {
  .slick-dots__item {
    max-width: 66.2px;
  }
}

@media (max-width: 567px) {
  .slick-dots__item {
    max-width: 40.2px;
  }
}

@media (max-width: 420px) {
  .slick-dots__item {
    max-width: 21.6px;
  }
}

.slick-dots__item:hover {
  cursor: pointer;
}

@media (max-width: 992px) {
  .slick-dots__item:hover {
    cursor: default;
  }
}

.slick-dots__item:after {
  content: '';
  width: 100%;
  height: 100%;
  background-color: #272727;
  opacity: 0.63;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.slick-active:after {
  display: none;
}

.container-slider {
  position: relative;
}
/*# sourceMappingURL=style.css.map */