* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #1f1f1f;
}

img {
  max-width: 100%;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: #030303;
}

a:visited {
  color: #030303;
}

a:hover {
  color: #838383;
}

@media (max-width: 992px) {
  a:hover {
    color: #030303;
    cursor: default !important;
  }
}

.bold {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}

.block {
  display: block;
}

.container {
  max-width: 1215px;
  margin: auto;
}

@media (max-width: 1215px) {
  .container {
    max-width: 980px;
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 760px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 540px;
  }
}

@media (max-width: 567px) {
  .container {
    max-width: 410px;
  }
}

@media (max-width: 420px) {
  .container {
    max-width: 277px;
  }
}

.button {
  background-color: #7dad4b;
  border: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  color: #ffffff;
  outline: none;
  line-height: 25.05px;
  width: 186px;
  height: 46px;
}

.button:hover {
  cursor: pointer;
  background-color: #b0cf8f;
}

@media (max-width: 992px) {
  .button:hover {
    cursor: default;
    background-color: #7dad4b;
  }
}

.button_orange {
  background-color: #ee8b15;
}

.button_orange:hover {
  background-color: #f5ba74;
}

@media (max-width: 992px) {
  .button_orange:hover {
    background-color: #ee8b15;
  }
}

.button_big {
  width: 217px;
  height: 50px;
}

.button_a {
  padding-top: 13px;
  display: block;
  text-align: center;
}

.input:focus {
  border: 1px solid #7dad4b;
  outline: none;
}

.test {
  height: 50px;
  background-color: grey;
}

.section {
  padding: 89px 0 96px 0;
}

.section__title {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 32px;
  text-transform: uppercase;
  line-height: 30px;
  margin: 0;
}

.section__subtitle {
  font-size: 15px;
  line-height: 30px;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

.center-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.relative {
  position: relative;
}

.wrap-line {
  border-bottom: 1px solid #e2e2e2;
}

.logobar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 16px 0px 12px 16px;
  font-size: 14px;
}

@media (max-width: 1205px) {
  .logobar {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.logobar_footer {
  border: none;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 23px;
  padding-bottom: 20px;
}

.logobar_footer .logobar__phone {
  margin-left: 64px;
}

@media (max-width: 768px) {
  .logobar_footer .logobar__phone {
    margin-left: 0;
  }
}

@media (max-width: 992px) {
  .logobar_footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 992px) {
  .logobar {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 768px) {
  .logobar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.logobar__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 992px) {
  .logobar__logo {
    margin-bottom: 20px;
    min-width: 760px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (max-width: 768px) {
  .logobar__logo {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 10px;
    height: 100px;
    min-width: 0px;
  }
}

.logobar__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 768px) {
  .logobar__contacts {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.logobar__subtitle {
  margin-top: 4px;
  font-size: 14px;
  line-height: 19px;
}

.logobar__basket {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 3px;
}

.logobar__basket-icon {
  width: 14px;
  height: 15px;
}

.logobar__basket-sum {
  margin-left: 13px;
}

.logobar__phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 3px;
  margin-left: 48px;
}

@media (max-width: 1205px) {
  .logobar__phone {
    margin-left: 20px;
  }
}

@media (max-width: 768px) {
  .logobar__phone {
    margin-left: 0;
  }
}

.logobar__phone-icon {
  width: 14px;
  height: 15px;
}

.logobar__phone-number {
  margin-left: 13px;
}

.logobar__desc {
  max-width: 247px;
  margin-left: 70px;
}

@media (max-width: 1205px) {
  .logobar__desc {
    margin-left: 20px;
  }
}

@media (max-width: 992px) {
  .logobar__desc {
    margin-left: 153px;
  }
}

@media (max-width: 768px) {
  .logobar__desc {
    margin-left: 0;
    margin-top: 6px;
  }
}

.button_search {
  outline: none;
  padding: 0;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border: none;
  margin-left: -36px;
  margin-top: 1px;
  z-index: 2;
  cursor: pointer;
  position: absolute;
  right: 13px;
  top: 20px;
}

@media (max-width: 768px) {
  .button_search {
    top: 76px;
    right: 6px;
  }
}

.input__search {
  padding: 17px 0 15px 19px;
  border: 1px solid #63564f;
  min-width: 329px;
  margin-left: 69px;
}

@media (max-width: 1205px) {
  .input__search {
    min-width: 199px;
    margin-left: 20px;
  }
}

@media (max-width: 992px) {
  .input__search {
    margin-left: 206px;
  }
}

@media (max-width: 768px) {
  .input__search {
    margin-left: 0;
    padding: 10px 0 10px 19px;
    min-width: 238px;
    margin-top: 6px;
  }
}

.menu {
  padding: 0px 0px 0px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

@media (max-width: 992px) {
  .menu {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding: 12px 0px 12px 15px;
  }
}

@media (max-width: 768px) {
  .menu {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.menu__links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 10;
}

@media (max-width: 992px) {
  .menu__links {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: absolute;
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    -webkit-transform-origin: 0 0;
            transform-origin: 0 0;
    background-color: #ffffff;
    padding: 10px;
    top: 0;
    left: 51px;
  }
}

@media (max-width: 768px) {
  .menu__links {
    left: 107px;
  }
}

@media (max-width: 567px) {
  .menu__links {
    left: 46px;
  }
}

@media (max-width: 420px) {
  .menu__links {
    left: 59px;
  }
}

.menu__links_active {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.menu__links .menu__item {
  font-size: 13px;
  line-height: 25.05px;
  margin-left: 52px;
  position: relative;
  text-transform: uppercase;
  height: 67px;
  vertical-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1205px) {
  .menu__links .menu__item {
    margin-left: 10px;
    font-size: 12px;
  }
}

@media (max-width: 992px) {
  .menu__links .menu__item {
    margin-left: 20px;
  }
}

.menu__links .menu__item:first-child {
  margin-left: 0;
}

@media (max-width: 992px) {
  .menu__links .menu__item:first-child {
    margin-left: 20px;
  }
}

.menu__links .menu__item:nth-child(4) {
  color: #ee8b15;
}

.menu__links .menu__item:nth-child(4) a:visited {
  color: #ee8b15;
}

.menu__links .menu__item:nth-child(4) a:hover {
  color: #7dad4b;
}

@media (max-width: 992px) {
  .menu__links .menu__item:nth-child(4) a:hover {
    color: #ee8b15;
  }
}

.menu__links .menu__item:after {
  content: '';
  display: none;
  width: 50%;
  height: 1px;
  background-color: #7dad4b;
  position: absolute;
  left: 25%;
  bottom: 12px;
}

.menu__links .menu__item a:hover {
  color: #7dad4b;
}

.menu__links .menu__item:hover .submenu {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
}

@media (max-width: 992px) {
  .menu__links .menu__item:hover .submenu {
    color: #030303;
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
}

.menu__links .menu__item:hover:after {
  display: block;
}

@media (max-width: 992px) {
  .menu__links .menu__item:hover:after {
    display: none;
  }
}

.button__recall {
  margin-left: 5px;
}

@media (max-width: 567px) {
  .button__recall {
    line-height: 15.05px;
  }
}

@media (max-width: 420px) {
  .button__recall {
    width: 100px;
  }
}

.button__invite {
  margin-left: 19px;
}

@media (max-width: 1205px) {
  .button__invite {
    margin-left: 25px;
  }
}

@media (max-width: 992px) {
  .button__invite {
    margin-left: 5px;
  }
}

@media (max-width: 567px) {
  .button__invite {
    margin-left: 4px;
    line-height: 15.05px;
  }
}

@media (max-width: 420px) {
  .button__invite {
    width: 100px;
  }
}

.toggle-button {
  width: 30px;
  height: 46px;
  background-color: #7dad4b;
  display: none;
  position: relative;
  margin-right: auto;
}

@media (max-width: 992px) {
  .toggle-button {
    display: block;
  }
}

@media (max-width: 768px) {
  .toggle-button {
    margin-right: 0;
  }
}

.toggle-button span {
  width: 15px;
  height: 2px;
  position: absolute;
  top: 50%;
  margin-top: -1px;
  left: 50%;
  margin-left: -9px;
  background-color: #d1d1d1;
}

.toggle-button span:after {
  content: '';
  display: inline-block;
  width: 10px;
  height: 2px;
  background-color: #d1d1d1;
  position: absolute;
  bottom: 10px;
  left: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.toggle-button span:before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 2px;
  background-color: #d1d1d1;
  position: absolute;
  top: 10px;
  left: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.toggle-button_active span {
  background-color: #7dad4b;
}

.toggle-button_active span:after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  width: 20px;
  top: 0;
}

.toggle-button_active span:before {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  width: 20px;
  top: 0;
}

.submenu {
  position: absolute;
  top: 65px;
  left: 0;
  z-index: 10;
  background-color: #ffffff;
  opacity: 0.96;
  min-width: 1200px;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 32px 125px 11px 40px;
}

@media (max-width: 1205px) {
  .submenu {
    min-width: 964px;
  }
}

@media (max-width: 992px) {
  .submenu {
    padding: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    min-width: 0px;
    padding-left: 20px;
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
  .submenu .submenu-category__list {
    display: none;
  }
}

.submenu_active {
  position: static;
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.submenu-category__title {
  position: relative;
}

.submenu-category__title:after {
  position: absolute;
  content: '';
  display: block;
  width: 28px;
  height: 1px;
  background-color: #004526;
  bottom: -15px;
  left: 0;
}

@media (max-width: 992px) {
  .submenu-category__title:after {
    display: none;
  }
}

.submenu-category__list {
  list-style: none;
  padding: 20px 0;
}

.submenu-category__link {
  text-transform: none;
  font-size: 14px;
  letter-spacing: 0.35px;
  line-height: 25.05px;
}

.menu__links .menu__item:nth-child(2) .submenu {
  left: -107px;
}

@media (max-width: 1205px) {
  .menu__links .menu__item:nth-child(2) .submenu {
    left: -63px;
  }
}

@media (max-width: 992px) {
  .menu__links .menu__item:nth-child(2) .submenu {
    left: 0;
  }
}

.button-addsubmenu {
  display: none;
  border: none;
  background-color: #fff;
  margin-left: 20px;
}

@media (max-width: 992px) {
  .button-addsubmenu {
    display: inline-block;
  }
}

.button-addsubmenu_active {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.menu__item.menu__item_hover .submenu {
  -webkit-transform: scaleY(1) !important;
          transform: scaleY(1) !important;
}

.menu__links .menu__item a:hover {
  color: #030303;
}

.header {
  -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.11);
          box-shadow: 0 3px 7px rgba(0, 0, 0, 0.11);
}

@media (max-width: 420px) {
  .slider {
    background-color: #7dad4b;
  }
}

.slider__img {
  overflow: hidden;
  width: 100vw;
  position: relative;
  height: 768px;
}

@media (max-width: 992px) {
  .slider__img {
    height: 400px;
  }
}

@media (max-width: 567px) {
  .slider__img {
    height: 250px;
  }
}

.slider__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.slider__desc {
  display: inline-block;
  width: 348px;
  height: 116px;
  background-color: #7dad4b;
  color: #ffffff;
  font-size: 14px;
  letter-spacing: 0.35px;
  padding-top: 35px;
  padding-left: 33px;
  position: absolute;
  bottom: 50px;
  left: 17px;
}

@media (max-width: 992px) {
  .slider__desc {
    height: 90.2px;
    width: 238px;
    padding-top: 20px;
    padding-left: 23px;
    bottom: 30px;
  }
}

@media (max-width: 768px) {
  .slider__desc {
    height: 66.2px;
    width: 158px;
    padding-top: 16px;
    padding-left: 16px;
    font-size: 12px;
    bottom: 20px;
  }
}

@media (max-width: 567px) {
  .slider__desc {
    bottom: 10px;
  }
}

@media (max-width: 420px) {
  .slider__desc {
    position: static;
    height: 40px;
    padding-top: 3px;
    padding-left: 5px;
  }
}

.slider__title {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 25px;
  line-height: 24px;
  letter-spacing: 0.63px;
  margin: 0;
  margin-bottom: 9px;
}

@media (max-width: 768px) {
  .slider__title {
    font-size: 16px;
    line-height: 16px;
    margin-bottom: 5px;
  }
}

.slick-dots {
  list-style: none;
  height: 116px;
  margin: 0 0 0 0;
  padding: 0;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  bottom: 50px;
  left: 364px;
}

@media (max-width: 992px) {
  .slick-dots {
    height: 90.2px;
    left: 274px;
    bottom: 30px;
  }
}

@media (max-width: 768px) {
  .slick-dots {
    left: 174px;
    height: 66.2px;
    bottom: 20px;
  }
}

@media (max-width: 567px) {
  .slick-dots {
    bottom: 10px;
    height: 40.2px;
  }
}

@media (max-width: 420px) {
  .slick-dots {
    left: 134px;
    height: 21.6px;
  }
}

.slick-dots__item {
  position: relative;
  margin-left: 7px;
  max-width: 116px;
}

@media (max-width: 992px) {
  .slick-dots__item {
    max-width: 90.2px;
  }
}

@media (max-width: 768px) {
  .slick-dots__item {
    max-width: 66.2px;
  }
}

@media (max-width: 567px) {
  .slick-dots__item {
    max-width: 40.2px;
  }
}

@media (max-width: 420px) {
  .slick-dots__item {
    max-width: 21.6px;
  }
}

.slick-dots__item:hover {
  cursor: pointer;
}

@media (max-width: 992px) {
  .slick-dots__item:hover {
    cursor: default;
  }
}

.slick-dots__item:after {
  content: '';
  width: 100%;
  height: 100%;
  background-color: #272727;
  opacity: 0.63;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.slick-active:after {
  display: none;
}

.container-slider {
  position: relative;
}

.new-product {
  text-align: center;
  padding-top: 74px;
  padding-bottom: 88px;
  background-color: #f3f3f3;
}

@media (max-width: 420px) {
  .new-product {
    padding: 54px 0;
  }
}

.new-product__title {
  margin-bottom: 6px;
  margin-left: 16px;
}

.new-product__subtitle {
  position: relative;
  margin-bottom: 59px;
  margin-left: 16px;
}

.new-product__subtitle:after {
  content: '';
  position: absolute;
  display: block;
  width: 47px;
  height: 1px;
  background-color: #1f1f1f;
  bottom: -19px;
  left: 33.2%;
}

.new-product__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-left: 15px;
}

@media (max-width: 992px) {
  .new-product__wrap {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.new-product__card {
  position: relative;
  height: 364px;
  margin-bottom: 19px;
}

@media (max-width: 1215px) {
  .new-product__card {
    width: 475px;
    height: 291px;
  }
}

@media (max-width: 992px) {
  .new-product__card {
    width: 593px;
    height: 364px;
  }
}

@media (max-width: 768px) {
  .new-product__card {
    width: 520px;
    height: 319px;
  }
}

@media (max-width: 567px) {
  .new-product__card {
    width: 400px;
    height: 245px;
  }
}

@media (max-width: 420px) {
  .new-product__card {
    width: 270px;
    height: 165px;
  }
}

.new-product__card:nth-child(even) {
  margin-right: -2px;
}

.new-product__card:hover .new-product__text {
  background-color: #7dad4b;
}

@media (max-width: 992px) {
  .new-product__card:hover .new-product__text {
    background-color: #63564f;
  }
}

.new-product__text {
  width: 207px;
  height: 47px;
  background-color: #63564f;
  position: absolute;
  bottom: 31px;
  left: 25px;
  padding-top: 17px;
}

@media (max-width: 1215px) {
  .new-product__text {
    bottom: 23px;
  }
}

@media (max-width: 992px) {
  .new-product__text {
    bottom: 31px;
  }
}

@media (max-width: 420px) {
  .new-product__text {
    width: 167px;
    height: 34px;
    padding-top: 10px;
    bottom: 6px;
    left: 6px;
  }
}

.new-product__button {
  vertical-align: center;
  margin-top: 24px;
  margin-left: 17px;
}

.forminvite {
  background-color: #f3f3f3;
  position: relative;
  padding-bottom: 109px;
}

.forminvite:after {
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  background-color: #ffffff;
  display: block;
  height: 92.6%;
  width: 64.85%;
  z-index: 1;
}

@media (max-width: 992px) {
  .forminvite:after {
    display: none;
  }
}

.forminvite__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

@media (max-width: 992px) {
  .forminvite__wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.forminvite__bg {
  position: absolute;
  width: 100%;
  height: 261px;
  background-color: #ffffff;
  top: 156px;
  left: 0;
}

@media (max-width: 992px) {
  .forminvite__bg {
    display: none;
  }
}

.forminvite__img {
  margin-top: -25px;
  margin-left: 7px;
  min-width: 602px;
  z-index: 2;
}

@media (max-width: 1215px) {
  .forminvite__img {
    min-width: 462px;
    max-width: 602px;
    height: 448px;
    overflow: hidden;
  }
  .forminvite__img img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

@media (max-width: 992px) {
  .forminvite__img {
    margin: auto;
  }
}

@media (max-width: 567px) {
  .forminvite__img {
    min-width: 277px;
    max-width: 277px;
    height: 328px;
  }
}

.forminvite__form {
  margin-left: 106px;
  position: relative;
}

@media (max-width: 992px) {
  .forminvite__form {
    margin: auto;
    margin-top: 60px;
  }
}

.forminvite__title {
  margin-top: -5px;
  line-height: 35px;
  margin-bottom: 15px;
}

.forminvite__subtitle {
  line-height: 25px;
  margin-bottom: 66px;
  position: relative;
}

@media (max-width: 1205px) {
  .forminvite__subtitle {
    margin-bottom: 44px;
  }
}

.forminvite__subtitle:after {
  position: absolute;
  content: '';
  display: block;
  width: 50px;
  height: 1px;
  background-color: #3c3c3c;
  bottom: -32px;
  left: 166px;
}

@media (max-width: 1205px) {
  .forminvite__subtitle:after {
    bottom: -22px;
  }
}

.forminvite__input {
  width: 387px;
  height: 60px;
  border: 1px solid #000000;
  background-color: #ffffff;
  margin-bottom: 13px;
  padding-left: 27px;
}

@media (max-width: 420px) {
  .forminvite__input {
    width: 277px;
  }
}

.forminvite__submit {
  outline: none;
  width: 198px;
  height: 50px;
  background-color: #7dad4b;
  border: none;
  margin: auto;
  margin-top: 18px;
}

.form {
  width: 387px;
  height: 410px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 2;
  text-align: center;
}

@media (max-width: 420px) {
  .form {
    width: 277px;
  }
}

.footer {
  background-color: #63564f;
}

.footer .submenu {
  padding: 38px 125px 0px 50px;
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
  position: static;
  background-color: #63564f;
  opacity: 1;
  margin-top: 0;
  z-index: 0;
  margin-bottom: 0;
}

@media (max-width: 992px) {
  .footer .submenu {
    padding: 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    min-width: 0px;
    padding-left: 20px;
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
  .footer .submenu .submenu-category__list {
    display: block;
  }
}

.footer .submenu-category__title {
  text-transform: uppercase;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 13px;
  letter-spacing: 0.33px;
  display: inline-block;
  margin-bottom: 28px;
}

.footer .submenu-category__title:after {
  background-color: #ffffff;
}

.footer .submenu-category__link {
  color: #ffffff;
}

.footer .submenu-category__list {
  padding: 0;
}

.footer-information {
  background-color: #4c413c;
  width: 100%;
}

.footer-information-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 57px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 154px 0 10px;
}

.footer-information__time {
  display: block;
  color: #ffffff;
}

.footer-information__www {
  display: block;
  color: #ffffff;
}

.stock {
  padding: 0 0 72px 0;
}

@media (max-width: 420px) {
  .stock {
    padding-bottom: 54px;
  }
}

.stock-slider__item {
  position: relative;
}

.stock-slider__img {
  position: absolute;
  top: 0;
  left: 46.4%;
  max-width: 53.6%;
  height: 612px;
  overflow: hidden;
}

@media (max-width: 1215px) {
  .stock-slider__img {
    position: static;
    max-width: 1037px;
    height: 500px;
    margin-left: auto;
  }
}

@media (max-width: 768px) {
  .stock-slider__img {
    height: 400px;
  }
}

.stock-slider__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.stock-slider__desc {
  padding: 1px;
  height: 612px;
  max-width: 513px;
  padding-left: 15px;
}

@media (max-width: 1215px) {
  .stock-slider__desc {
    height: 432px;
  }
}

@media (max-width: 420px) {
  .stock-slider__desc {
    height: 444px;
  }
}

.stock-slider__subtitle {
  text-transform: uppercase;
  margin: 0;
  margin-top: 136px;
  font-size: 18px;
  margin-bottom: 36px;
}

@media (max-width: 1215px) {
  .stock-slider__subtitle {
    margin-top: 46px;
  }
}

@media (max-width: 420px) {
  .stock-slider__subtitle {
    font-size: 18px;
  }
}

.stock-slider__title {
  line-height: 36px;
  margin-bottom: 34px;
}

@media (max-width: 420px) {
  .stock-slider__title {
    font-size: 22px;
  }
}

.stock-slider__text {
  font-size: 15px;
  line-height: 24px;
  max-width: 443px;
  letter-spacing: -0.1px;
  margin-bottom: 43px;
}

@media (max-width: 420px) {
  .stock-slider__text {
    padding: 0;
  }
}

.stock-slider__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.stock-slider__button {
  margin-right: 85px;
}

@media (max-width: 567px) {
  .stock-slider__button {
    margin-right: 35px;
  }
}

@media (max-width: 420px) {
  .stock-slider__button {
    width: 147px;
    margin-right: 15px;
  }
}

.stock-slider-dot {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding-left: 16px;
  position: absolute;
  top: -20px;
  left: 0;
}

@media (max-width: 1215px) {
  .stock-slider-dot {
    position: static;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: auto;
    margin-top: 40px;
  }
}

.stock-slider-dot li {
  font-size: 15px;
  line-height: 30px;
  text-transform: uppercase;
  margin-right: 32px;
}

.stock-slider-dot li a {
  color: #d7d7d7;
}

.stock-slider-dot .slick-active {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}

.stock-slider-dot .slick-active a {
  color: #1f1f1f;
}

.detail {
  display: inline-block;
  color: #7dad4b;
}

.slick-slide .detail-icon {
  display: inline;
  margin-left: 40px;
}

@media (max-width: 420px) {
  .slick-slide .detail-icon {
    margin-left: 15px;
  }
}

@media (max-width: 1215px) {
  .stock .slick-initialized .slick-slide {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

input.invalid {
  border: 1px solid #C71585;
}

div.invalid {
  color: #C71585;
  font-size: 14px;
}

#username-error {
  position: absolute;
  top: 255px;
  left: 27px;
}

@media (max-width: 1205px) {
  #username-error {
    top: 233px;
  }
}

@media (max-width: 420px) {
  #username-error {
    top: 256px;
  }
}

#userphone-error {
  position: absolute;
  top: 328px;
  left: 27px;
}

@media (max-width: 1205px) {
  #userphone-error {
    top: 306px;
  }
}

@media (max-width: 420px) {
  #userphone-error {
    top: 328px;
  }
}

#usernamei-error {
  position: absolute;
  top: 255px;
  left: 27px;
}

@media (max-width: 1205px) {
  #usernamei-error {
    top: 233px;
  }
}

@media (max-width: 420px) {
  #usernamei-error {
    top: 256px;
  }
}

#userphonei-error {
  position: absolute;
  top: 328px;
  left: 27px;
}

@media (max-width: 1205px) {
  #userphonei-error {
    top: 306px;
  }
}

@media (max-width: 420px) {
  #userphonei-error {
    top: 328px;
  }
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 100;
}

.modal_active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal__close {
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 50px;
  border: none;
  background: #f3f3f3;
  cursor: pointer;
  z-index: 100;
  outline: none;
}

.modal-invite {
  width: 1210px;
  margin: auto;
  padding: 64px 20px;
  background-color: #f3f3f3;
  position: relative;
}

@media (max-width: 1215px) {
  .modal-invite {
    max-width: 980px;
  }
}

@media (max-width: 992px) {
  .modal-invite {
    max-width: 540px;
    padding: 60px 20px;
    padding-bottom: 40px;
  }
}

@media (max-width: 768px) {
  .modal-invite {
    max-width: 540px;
  }
}

@media (max-width: 567px) {
  .modal-invite {
    max-width: 410px;
    padding: 60px 12px 40px 12px;
  }
}

@media (max-width: 420px) {
  .modal-invite {
    max-width: 301px;
  }
}

.modal-invite .modal__close {
  background-color: #ffffff;
}

@media (max-width: 992px) {
  .modal-invite .modal__close {
    background-color: #f3f3f3;
  }
}

.modal-invite .forminvite__wrap {
  margin: auto;
  position: relative;
}

.modal-invite .forminvite__wrap:after {
  content: '';
  position: absolute;
  right: -20px;
  top: -64px;
  background-color: #ffffff;
  display: block;
  height: 121.6%;
  width: 64.85%;
}

@media (max-width: 992px) {
  .modal-invite .forminvite__wrap:after {
    display: none;
  }
}

.modal-invite .forminvite__wrap .forminvite__img {
  min-width: 200px;
}

@media (max-width: 992px) {
  .modal-invite .forminvite__wrap .forminvite__img {
    display: none;
  }
}

.modal-invite .forminvite__wrap .forminvite__form {
  margin-top: 0;
}

.modal-success {
  margin: auto;
  width: 670px;
  height: 200px;
  background-color: #f3f3f3;
  position: relative;
  text-align: center;
  padding: 74px 150px;
  line-height: 1.8;
  z-index: 99999;
  border: 2px solid #004526;
}

@media (max-width: 768px) {
  .modal-success {
    width: 470px;
    padding: 63px 130px;
  }
}

@media (max-width: 567px) {
  .modal-success {
    width: 370px;
    padding: 63px 80px;
  }
}

@media (max-width: 420px) {
  .modal-success {
    width: 277px;
    height: 150px;
    padding: 42px 40px;
  }
}

.treatment:after {
  position: absolute;
  content: '';
  display: block;
  width: 10%;
  height: 2px;
  top: 50%;
  left: 45%;
  background-color: #004526;
}

@media (max-width: 768px) {
  .treatment:after {
    top: 45%;
  }
}

@media (max-width: 567px) {
  .treatment:after {
    width: 20%;
    left: 39%;
  }
}

@media (max-width: 420px) {
  .treatment:after {
    top: 46%;
  }
}

#modal1 {
  z-index: 90;
}

.timetest {
  text-align: center;
}
/*# sourceMappingURL=style.css.map */