* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #1f1f1f;
}

img {
  max-width: 100%;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: #030303;
}

a:visited {
  color: #030303;
}

a:hover {
  color: #838383;
}

@media (max-width: 992px) {
  a:hover {
    color: #030303;
    cursor: default !important;
  }
}

.bold {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}

.block {
  display: block;
}

.container {
  max-width: 1215px;
  margin: auto;
}

@media (max-width: 1215px) {
  .container {
    max-width: 980px;
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 760px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 540px;
  }
}

@media (max-width: 567px) {
  .container {
    max-width: 410px;
  }
}

@media (max-width: 420px) {
  .container {
    max-width: 277px;
  }
}

.button {
  background-color: #7dad4b;
  border: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  color: #ffffff;
  outline: none;
  line-height: 25.05px;
  width: 186px;
  height: 46px;
}

.button:hover {
  cursor: pointer;
  background-color: #b0cf8f;
}

@media (max-width: 992px) {
  .button:hover {
    cursor: default;
    background-color: #7dad4b;
  }
}

.button_orange {
  background-color: #ee8b15;
}

.button_orange:hover {
  background-color: #f5ba74;
}

@media (max-width: 992px) {
  .button_orange:hover {
    background-color: #ee8b15;
  }
}

.button_big {
  width: 217px;
  height: 50px;
}

.button_a {
  padding-top: 13px;
  display: block;
  text-align: center;
}

.input:focus {
  border: 1px solid #7dad4b;
  outline: none;
}

.test {
  height: 50px;
  background-color: grey;
}

.section {
  padding: 87px 0 96px 0;
}

@media (max-width: 420px) {
  .section {
    padding: 50px 0 30px 0;
  }
}

.section__title {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 32px;
  text-transform: uppercase;
  line-height: 30px;
  margin: 0;
}

.section__subtitle {
  font-size: 15px;
  line-height: 30px;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  position: relative;
}

.section__subtitle:after {
  content: '';
  position: absolute;
  display: block;
  width: 47px;
  height: 1px;
  background-color: #1f1f1f;
  bottom: -19px;
  left: 33.2%;
}

.center-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.relative {
  position: relative;
}

.wrap-line {
  border-bottom: 1px solid #e2e2e2;
}

.logobar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 16px 0px 12px 16px;
  font-size: 14px;
}

@media (max-width: 1205px) {
  .logobar {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.logobar_footer {
  border: none;
  padding: 23px 8px 18px 17px;
}

.logobar_footer .logobar__phone {
  margin-left: 64px;
}

@media (max-width: 768px) {
  .logobar_footer .logobar__phone {
    margin-left: 0;
  }
}

@media (max-width: 992px) {
  .logobar_footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 992px) {
  .logobar {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 768px) {
  .logobar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.logobar__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 992px) {
  .logobar__logo {
    margin-bottom: 20px;
    min-width: 760px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (max-width: 768px) {
  .logobar__logo {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 10px;
    height: 100px;
    min-width: 0px;
  }
}

.logobar__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 768px) {
  .logobar__contacts {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.logobar__subtitle {
  margin-top: 4px;
  font-size: 14px;
  line-height: 19px;
}

.logobar__basket {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 3px;
}

.logobar__basket-icon {
  width: 14px;
  height: 15px;
}

.logobar__basket-sum {
  margin-left: 13px;
}

.logobar__phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 3px;
  margin-left: 48px;
}

@media (max-width: 1205px) {
  .logobar__phone {
    margin-left: 20px;
  }
}

@media (max-width: 768px) {
  .logobar__phone {
    margin-left: 0;
  }
}

.logobar__phone-icon {
  width: 14px;
  height: 15px;
}

.logobar__phone-number {
  margin-left: 13px;
}

.logobar__desc {
  max-width: 247px;
  margin-left: 70px;
}

@media (max-width: 1205px) {
  .logobar__desc {
    margin-left: 20px;
  }
}

@media (max-width: 992px) {
  .logobar__desc {
    margin-left: 153px;
  }
}

@media (max-width: 768px) {
  .logobar__desc {
    margin-left: 0;
    margin-top: 6px;
  }
}

.button_search {
  outline: none;
  padding: 0;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border: none;
  margin-left: -36px;
  margin-top: 1px;
  z-index: 2;
  cursor: pointer;
  position: absolute;
  right: 13px;
  top: 20px;
}

@media (max-width: 768px) {
  .button_search {
    top: 76px;
    right: 6px;
  }
}

.input__search {
  padding: 17px 0 15px 19px;
  border: 1px solid #63564f;
  min-width: 329px;
  margin-left: 69px;
}

@media (max-width: 1205px) {
  .input__search {
    min-width: 199px;
    margin-left: 20px;
  }
}

@media (max-width: 992px) {
  .input__search {
    margin-left: 206px;
  }
}

@media (max-width: 768px) {
  .input__search {
    margin-left: 0;
    padding: 10px 0 10px 19px;
    min-width: 238px;
    margin-top: 6px;
  }
}

.menu {
  padding: 0px 0px 0px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

@media (max-width: 992px) {
  .menu {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding: 12px 0px 12px 15px;
  }
}

@media (max-width: 768px) {
  .menu {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.menu__links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 10;
}

@media (max-width: 992px) {
  .menu__links {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: absolute;
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    -webkit-transform-origin: 0 0;
            transform-origin: 0 0;
    background-color: #ffffff;
    padding: 10px;
    top: 0;
    left: 51px;
  }
}

@media (max-width: 768px) {
  .menu__links {
    left: 107px;
  }
}

@media (max-width: 567px) {
  .menu__links {
    left: 46px;
  }
}

@media (max-width: 420px) {
  .menu__links {
    left: 59px;
  }
}

.menu__links_active {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.menu__links .menu__item {
  font-size: 13px;
  line-height: 25.05px;
  margin-left: 52px;
  position: relative;
  text-transform: uppercase;
  vertical-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 150px;
}

@media (min-width: 992px) {
  .menu__links .menu__item {
    min-height: 67px;
  }
}

@media (max-width: 1215px) {
  .menu__links .menu__item {
    margin-left: 10px;
    font-size: 12px;
  }
}

@media (max-width: 992px) {
  .menu__links .menu__item {
    margin-left: 20px;
  }
}

.menu__links .menu__item:first-child {
  margin-left: 0;
}

@media (max-width: 992px) {
  .menu__links .menu__item:first-child {
    margin-left: 20px;
  }
}

.menu__links .menu__item:nth-child(4) {
  color: #ee8b15;
}

.menu__links .menu__item:nth-child(4) a:visited {
  color: #ee8b15;
}

.menu__links .menu__item:nth-child(4) a:hover {
  color: #7dad4b;
}

@media (max-width: 992px) {
  .menu__links .menu__item:nth-child(4) a:hover {
    color: #ee8b15;
  }
}

.menu__links .menu__item:after {
  content: '';
  display: none;
  width: 50%;
  height: 1px;
  background-color: #7dad4b;
  position: absolute;
  left: 25%;
  bottom: 12px;
}

.menu__links .menu__item a:hover {
  color: #7dad4b;
}

@media (min-width: 993px) {
  .menu__links .menu__item:hover .submenu {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}

@media (max-width: 992px) {
  .menu__links .menu__item:hover .submenu {
    color: #030303;
  }
}

.menu__links .menu__item:hover:after {
  display: block;
}

@media (max-width: 992px) {
  .menu__links .menu__item:hover:after {
    display: none;
  }
}

.button__recall {
  margin-left: 5px;
}

@media (max-width: 567px) {
  .button__recall {
    line-height: 15.05px;
  }
}

@media (max-width: 420px) {
  .button__recall {
    width: 100px;
  }
}

.button__invite {
  margin-left: 19px;
}

@media (max-width: 1205px) {
  .button__invite {
    margin-left: 25px;
  }
}

@media (max-width: 992px) {
  .button__invite {
    margin-left: 5px;
  }
}

@media (max-width: 567px) {
  .button__invite {
    margin-left: 4px;
    line-height: 15.05px;
  }
}

@media (max-width: 420px) {
  .button__invite {
    width: 100px;
  }
}

.toggle-button {
  width: 30px;
  height: 46px;
  background-color: #7dad4b;
  display: none;
  position: relative;
  margin-right: auto;
}

@media (max-width: 992px) {
  .toggle-button {
    display: block;
  }
}

@media (max-width: 768px) {
  .toggle-button {
    margin-right: 0;
  }
}

.toggle-button span {
  width: 15px;
  height: 2px;
  position: absolute;
  top: 50%;
  margin-top: -1px;
  left: 50%;
  margin-left: -9px;
  background-color: #d1d1d1;
}

.toggle-button span:after {
  content: '';
  display: inline-block;
  width: 10px;
  height: 2px;
  background-color: #d1d1d1;
  position: absolute;
  bottom: 10px;
  left: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.toggle-button span:before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 2px;
  background-color: #d1d1d1;
  position: absolute;
  top: 10px;
  left: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.toggle-button_active span {
  background-color: #7dad4b;
}

.toggle-button_active span:after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  width: 20px;
  top: 0;
}

.toggle-button_active span:before {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  width: 20px;
  top: 0;
}

.submenu {
  position: absolute;
  top: 65px;
  left: 0;
  z-index: 10;
  background-color: #ffffff;
  opacity: 0.96;
  min-width: 1200px;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 32px 125px 11px 40px;
}

@media (max-width: 1205px) {
  .submenu {
    min-width: 964px;
  }
}

@media (max-width: 992px) {
  .submenu {
    padding: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    min-width: 0px;
    padding-left: 20px;
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
  .submenu .submenu-category__list {
    display: none;
  }
}

.submenu_active {
  position: static;
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.submenu-category__title {
  position: relative;
}

.submenu-category__title:after {
  position: absolute;
  content: '';
  display: block;
  width: 28px;
  height: 1px;
  background-color: #004526;
  bottom: -15px;
  left: 0;
}

@media (max-width: 992px) {
  .submenu-category__title:after {
    display: none;
  }
}

.submenu-category__list {
  list-style: none;
  padding: 20px 0;
}

.submenu-category__link {
  text-transform: none;
  font-size: 14px;
  letter-spacing: 0.35px;
  line-height: 25.05px;
}

.menu__links .menu__item:nth-child(2) .submenu {
  left: -107px;
}

@media (max-width: 1205px) {
  .menu__links .menu__item:nth-child(2) .submenu {
    left: -63px;
  }
}

@media (max-width: 992px) {
  .menu__links .menu__item:nth-child(2) .submenu {
    left: 0;
  }
}

.button-addsubmenu {
  display: none;
  border: none;
  background-color: #fff;
  margin-left: 20px;
}

@media (max-width: 992px) {
  .button-addsubmenu {
    display: inline-block;
  }
}

.button-addsubmenu_active {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.menu__links .menu__item a:hover {
  color: #030303;
}

.header {
  -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.11);
          box-shadow: 0 3px 7px rgba(0, 0, 0, 0.11);
}

@media (max-width: 420px) {
  .slider {
    background-color: #7dad4b;
  }
}

.slider__img {
  overflow: hidden;
  width: 100vw;
  position: relative;
  height: 768px;
}

@media (max-width: 992px) {
  .slider__img {
    height: 400px;
  }
}

@media (max-width: 567px) {
  .slider__img {
    height: 250px;
  }
}

.slider__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.slider__desc {
  display: inline-block;
  width: 348px;
  height: 116px;
  background-color: #7dad4b;
  color: #ffffff;
  font-size: 14px;
  letter-spacing: 0.35px;
  padding-top: 35px;
  padding-left: 33px;
  position: absolute;
  bottom: 50px;
  left: 17px;
}

@media (max-width: 992px) {
  .slider__desc {
    height: 90.2px;
    width: 238px;
    padding-top: 20px;
    padding-left: 23px;
    bottom: 30px;
  }
}

@media (max-width: 768px) {
  .slider__desc {
    height: 66.2px;
    width: 158px;
    padding-top: 16px;
    padding-left: 16px;
    font-size: 12px;
    bottom: 20px;
  }
}

@media (max-width: 567px) {
  .slider__desc {
    bottom: 10px;
  }
}

@media (max-width: 420px) {
  .slider__desc {
    position: static;
    height: 40px;
    padding-top: 3px;
    padding-left: 5px;
  }
}

.slider__title {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 25px;
  line-height: 24px;
  letter-spacing: 0.63px;
  margin: 0;
  margin-bottom: 9px;
}

@media (max-width: 768px) {
  .slider__title {
    font-size: 16px;
    line-height: 16px;
    margin-bottom: 5px;
  }
}

.slick-dots {
  list-style: none;
  height: 116px;
  margin: 0 0 0 0;
  padding: 0;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  bottom: 50px;
  left: 364px;
}

@media (max-width: 992px) {
  .slick-dots {
    height: 90.2px;
    left: 274px;
    bottom: 30px;
  }
}

@media (max-width: 768px) {
  .slick-dots {
    left: 174px;
    height: 66.2px;
    bottom: 20px;
  }
}

@media (max-width: 567px) {
  .slick-dots {
    bottom: 10px;
    height: 40.2px;
  }
}

@media (max-width: 420px) {
  .slick-dots {
    left: 134px;
    height: 21.6px;
  }
}

.slick-dots__item {
  position: relative;
  margin-left: 7px;
  max-width: 116px;
}

@media (max-width: 992px) {
  .slick-dots__item {
    max-width: 90.2px;
  }
}

@media (max-width: 768px) {
  .slick-dots__item {
    max-width: 66.2px;
  }
}

@media (max-width: 567px) {
  .slick-dots__item {
    max-width: 40.2px;
  }
}

@media (max-width: 420px) {
  .slick-dots__item {
    max-width: 21.6px;
  }
}

.slick-dots__item:hover {
  cursor: pointer;
}

@media (max-width: 992px) {
  .slick-dots__item:hover {
    cursor: default;
  }
}

.slick-dots__item:after {
  content: '';
  width: 100%;
  height: 100%;
  background-color: #272727;
  opacity: 0.63;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.slick-active:after {
  display: none;
}

.container-slider {
  position: relative;
}

.new-product {
  text-align: center;
  padding-top: 74px;
  padding-bottom: 88px;
  background-color: #f3f3f3;
}

@media (max-width: 420px) {
  .new-product {
    padding: 54px 0;
  }
}

.new-product__title {
  margin-bottom: 6px;
  margin-left: 16px;
}

.new-product__subtitle {
  position: relative;
  margin-bottom: 59px;
  margin-left: 16px;
}

.new-product__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-left: 15px;
}

@media (max-width: 992px) {
  .new-product__wrap {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.new-product__card {
  position: relative;
  height: 364px;
  margin-bottom: 19px;
}

@media (max-width: 1215px) {
  .new-product__card {
    width: 475px;
    height: 291px;
  }
}

@media (max-width: 992px) {
  .new-product__card {
    width: 593px;
    height: 364px;
  }
}

@media (max-width: 768px) {
  .new-product__card {
    width: 520px;
    height: 319px;
  }
}

@media (max-width: 567px) {
  .new-product__card {
    width: 400px;
    height: 245px;
  }
}

@media (max-width: 420px) {
  .new-product__card {
    width: 270px;
    height: 165px;
  }
}

.new-product__card:nth-child(even) {
  margin-right: -2px;
}

.new-product__card:hover .new-product__text {
  background-color: #7dad4b;
}

@media (max-width: 992px) {
  .new-product__card:hover .new-product__text {
    background-color: #63564f;
  }
}

.new-product__text {
  width: 207px;
  height: 47px;
  background-color: #63564f;
  position: absolute;
  bottom: 31px;
  left: 25px;
  padding-top: 17px;
}

@media (max-width: 1215px) {
  .new-product__text {
    bottom: 23px;
  }
}

@media (max-width: 992px) {
  .new-product__text {
    bottom: 31px;
  }
}

@media (max-width: 420px) {
  .new-product__text {
    width: 167px;
    height: 34px;
    padding-top: 10px;
    bottom: 6px;
    left: 6px;
  }
}

.new-product__button {
  vertical-align: center;
  margin-top: 24px;
  margin-left: 17px;
}

.forminvite {
  background-color: #f3f3f3;
  position: relative;
  padding-bottom: 109px;
}

.forminvite:after {
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  background-color: #ffffff;
  display: block;
  height: 92.6%;
  width: 64.85%;
  z-index: 1;
}

@media (max-width: 992px) {
  .forminvite:after {
    display: none;
  }
}

.forminvite__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-left: 9px;
}

@media (max-width: 992px) {
  .forminvite__wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.forminvite__bg {
  position: absolute;
  width: 100%;
  height: 261px;
  background-color: #ffffff;
  top: 156px;
  left: 0;
}

@media (max-width: 992px) {
  .forminvite__bg {
    display: none;
  }
}

.forminvite__img {
  margin-top: -25px;
  margin-left: 7px;
  min-width: 602px;
  z-index: 2;
}

@media (max-width: 1215px) {
  .forminvite__img {
    min-width: 462px;
    max-width: 602px;
    height: 448px;
    overflow: hidden;
  }
  .forminvite__img img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

@media (max-width: 992px) {
  .forminvite__img {
    margin: auto;
  }
}

@media (max-width: 567px) {
  .forminvite__img {
    min-width: 277px;
    max-width: 277px;
    height: 328px;
  }
}

.forminvite__form {
  margin-left: 106px;
  position: relative;
}

@media (max-width: 992px) {
  .forminvite__form {
    margin: auto;
    margin-top: 60px;
  }
}

.forminvite__title {
  margin-top: -5px;
  line-height: 35px;
  margin-bottom: 15px;
}

.forminvite__subtitle {
  line-height: 25px;
  margin-bottom: 66px;
  position: relative;
}

@media (max-width: 1205px) {
  .forminvite__subtitle {
    margin-bottom: 44px;
  }
}

.forminvite__subtitle:after {
  position: absolute;
  content: '';
  display: block;
  width: 50px;
  height: 1px;
  background-color: #3c3c3c;
  bottom: -32px;
  left: 166px;
}

@media (max-width: 1205px) {
  .forminvite__subtitle:after {
    bottom: -22px;
  }
}

.forminvite__input {
  width: 387px;
  height: 60px;
  border: 1px solid #000000;
  background-color: #ffffff;
  margin-bottom: 13px;
  padding-left: 27px;
}

@media (max-width: 420px) {
  .forminvite__input {
    width: 277px;
  }
}

.forminvite__submit {
  outline: none;
  width: 198px;
  height: 50px;
  background-color: #7dad4b;
  border: none;
  margin: auto;
  margin-top: 18px;
}

.form {
  width: 387px;
  height: 410px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 2;
  text-align: center;
}

@media (max-width: 420px) {
  .form {
    width: 277px;
  }
}

.footer {
  background-color: #63564f;
  padding: 40px 0 0px 0;
}

.footer .submenu {
  padding: 0px 124px 14px 60px;
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
  position: static;
  background-color: #63564f;
  opacity: 1;
  margin-top: 0;
  z-index: 0;
  margin-bottom: 0;
}

@media (max-width: 992px) {
  .footer .submenu {
    padding: 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    min-width: 0px;
    padding-left: 20px;
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}

@media (max-width: 992px) and (max-width: 420px) {
  .footer .submenu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.footer .submenu-category__title {
  text-transform: uppercase;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 13px;
  letter-spacing: 0.33px;
  display: none;
  margin-bottom: 28px;
}

@media (min-width: 769px) {
  .footer .submenu-category__title {
    display: inline-block;
  }
}

.footer .submenu-category__title:after {
  background-color: #ffffff;
}

.footer .submenu-category__link {
  color: #ffffff;
}

.footer .submenu-category__list {
  padding: 0;
}

@media (max-width: 992px) {
  .footer .submenu-category__list {
    display: block;
    margin-bottom: 30px;
  }
}

@media (max-width: 768px) {
  .footer .submenu-category__list {
    display: none;
    margin-bottom: 0;
  }
}

.footer-information {
  background-color: #4c413c;
  width: 100%;
}

.footer-information-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 57px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 154px 0 10px;
}

@media (max-width: 992px) {
  .footer-information-wrap {
    padding-right: 0;
  }
}

@media (max-width: 567px) {
  .footer-information-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: center;
  }
}

.footer-information__time {
  display: block;
  color: #ffffff;
}

@media (max-width: 420px) {
  .footer-information__time {
    max-width: 160px;
  }
}

.footer-information__www {
  display: block;
  color: #ffffff;
}

@media (min-width: 769px) {
  .mobail-footer__menu {
    display: none;
  }
}

.mobail-footer__menu .submenu-category__list {
  display: block;
  margin: auto;
  margin-bottom: 30px;
  max-width: 150px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

@media (max-width: 420px) {
  .mobail-footer__menu .submenu-category__list {
    position: absolute;
    padding-left: 10px;
    border-left: 1px solid #ffffff;
    top: 37px;
    right: 0;
  }
}

.footer .footer-submenu-category__title {
  display: none;
}

@media (max-width: 768px) {
  .footer .footer-submenu-category__title {
    display: block;
  }
}

.stock {
  padding: 0 0 72px 0;
}

@media (max-width: 420px) {
  .stock {
    padding-bottom: 54px;
  }
}

.stock-slider__item {
  position: relative;
}

.stock-slider__img {
  position: absolute;
  top: 0;
  left: 46.4%;
  max-width: 53.6%;
  height: 612px;
  overflow: hidden;
}

@media (max-width: 1215px) {
  .stock-slider__img {
    position: static;
    max-width: 1037px;
    height: 500px;
    margin-left: auto;
  }
}

@media (max-width: 768px) {
  .stock-slider__img {
    height: 400px;
  }
}

.stock-slider__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.stock-slider__desc {
  padding: 1px;
  height: 612px;
  max-width: 513px;
  padding-left: 15px;
}

@media (max-width: 1215px) {
  .stock-slider__desc {
    height: 432px;
  }
}

@media (max-width: 420px) {
  .stock-slider__desc {
    height: 444px;
  }
}

.stock-slider__subtitle {
  text-transform: uppercase;
  margin: 0;
  margin-top: 136px;
  font-size: 18px;
  margin-bottom: 36px;
}

@media (max-width: 1215px) {
  .stock-slider__subtitle {
    margin-top: 46px;
  }
}

@media (max-width: 420px) {
  .stock-slider__subtitle {
    font-size: 18px;
  }
}

.stock-slider__title {
  line-height: 36px;
  margin-bottom: 34px;
}

@media (max-width: 420px) {
  .stock-slider__title {
    font-size: 22px;
  }
}

.stock-slider__text {
  font-size: 15px;
  line-height: 24px;
  max-width: 443px;
  letter-spacing: -0.1px;
  margin-bottom: 43px;
}

@media (max-width: 420px) {
  .stock-slider__text {
    padding: 0;
  }
}

.stock-slider__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.stock-slider__button {
  margin-right: 85px;
}

@media (max-width: 567px) {
  .stock-slider__button {
    margin-right: 35px;
  }
}

@media (max-width: 420px) {
  .stock-slider__button {
    width: 147px;
    margin-right: 15px;
  }
}

.stock-slider-dot {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding-left: 16px;
  position: absolute;
  top: -20px;
  left: 0;
}

@media (max-width: 1215px) {
  .stock-slider-dot {
    position: static;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: auto;
    margin-top: 40px;
  }
}

.stock-slider-dot li {
  font-size: 15px;
  line-height: 30px;
  text-transform: uppercase;
  margin-right: 32px;
}

.stock-slider-dot li a {
  color: #d7d7d7;
}

.stock-slider-dot .slick-active {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}

.stock-slider-dot .slick-active a {
  color: #1f1f1f;
}

.detail {
  display: inline-block;
  color: #7dad4b;
}

.slick-slide .detail-icon {
  display: inline;
  margin-left: 40px;
}

@media (max-width: 420px) {
  .slick-slide .detail-icon {
    margin-left: 15px;
  }
}

@media (max-width: 1215px) {
  .stock .slick-initialized .slick-slide {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.features {
  background-color: #f3f3f3;
  text-align: center;
  padding-bottom: 103px;
}

.features__title {
  margin-bottom: 5px;
  margin-left: 17px;
}

.features__subtitle {
  margin-bottom: 58px;
  margin-left: 18px;
}

.features__subtitle:after {
  left: 48.1%;
}

@media (max-width: 420px) {
  .features__subtitle:after {
    left: 38.1%;
  }
}

.features__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-left: 16px;
  padding-right: 1px;
  text-align: left;
}

.features-card {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  height: 251px;
  vertical-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media (max-width: 1215px) {
  .features-card {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
}

@media (max-width: 768px) {
  .features-card {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

@media (max-width: 1215px) {
  .features-card:nth-child(1) {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }
}

@media (max-width: 768px) {
  .features-card:nth-child(1) {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }
}

@media (max-width: 1215px) {
  .features-card:nth-child(2) {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

@media (max-width: 768px) {
  .features-card:nth-child(2) {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }
}

@media (max-width: 1215px) {
  .features-card:nth-child(3) {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
}

@media (max-width: 768px) {
  .features-card:nth-child(3) {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }
}

@media (max-width: 1215px) {
  .features-card:nth-child(4) {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

@media (max-width: 768px) {
  .features-card:nth-child(4) {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }
}

.features-card:nth-child(5) {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

@media (max-width: 1215px) {
  .features-card:nth-child(5) {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }
}

@media (max-width: 768px) {
  .features-card:nth-child(5) {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }
}

.features-card:nth-child(6) {
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
}

@media (max-width: 1215px) {
  .features-card:nth-child(6) {
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5;
  }
}

@media (max-width: 768px) {
  .features-card:nth-child(6) {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }
}

.features-card:nth-child(7) {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
}

@media (max-width: 1215px) {
  .features-card:nth-child(7) {
    -webkit-box-ordinal-group: 8;
        -ms-flex-order: 7;
            order: 7;
  }
}

@media (max-width: 768px) {
  .features-card:nth-child(7) {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }
}

.features-card:nth-child(8) {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

@media (max-width: 1215px) {
  .features-card:nth-child(8) {
    -webkit-box-ordinal-group: 7;
        -ms-flex-order: 6;
            order: 6;
  }
}

@media (max-width: 768px) {
  .features-card:nth-child(8) {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }
}

.features-card__title {
  color: #7dad4b;
  line-height: 30px;
  margin: 0;
  margin-bottom: 3px;
  text-transform: uppercase;
  letter-spacing: -0.7px;
}

@media (max-width: 992px) {
  .features-card__title {
    margin: auto;
    margin-top: 0;
    margin-bottom: 3px;
  }
}

.features-card__image {
  background-color: #fbfbfb;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.features-card__desc {
  background-color: #ffffff;
  padding: 79px 23px 0 37px;
}

@media (max-width: 992px) {
  .features-card__desc {
    text-align: center;
  }
}

@media (max-width: 420px) {
  .features-card__desc {
    padding-top: 59px;
  }
}

.features-card__text {
  font-size: 13px;
  line-height: 22px;
  margin: 0;
  letter-spacing: 0.47px;
}

.mention {
  background-image: url(../img/mention/bg.jpg);
  background-size: cover;
  text-align: center;
  padding-top: 82px;
  padding-bottom: 72px;
}

@media (max-width: 420px) {
  .mention {
    padding: 50px 0;
  }
}

.mention__title {
  margin-bottom: 5px;
  margin-left: 17px;
}

.mention__subtitle {
  margin-bottom: 61px;
  margin-left: 19px;
}

.mention__subtitle:after {
  left: 48.1%;
}

@media (max-width: 420px) {
  .mention__subtitle:after {
    left: 38.1%;
  }
}

.mention__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  padding-left: 17px;
}

@media (max-width: 567px) {
  .mention__wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.mention__slider {
  max-width: 882px;
  min-height: 482px;
}

@media (max-width: 1215px) {
  .mention__slider {
    max-width: 600px;
  }
}

@media (max-width: 768px) {
  .mention__slider {
    max-width: 410px;
  }
}

@media (max-width: 420px) {
  .mention__slider {
    min-height: 352px;
    max-height: 352px;
  }
}

.mention-card {
  padding: 102px 139px 0 133px;
  background-color: #ffffff;
  position: relative;
  text-align: left;
  min-height: 482px;
}

@media (max-width: 1215px) {
  .mention-card {
    padding: 42px 109px 0 103px;
  }
}

@media (max-width: 768px) {
  .mention-card {
    padding: 10px 20px 0 20px;
  }
}

@media (max-width: 420px) {
  .mention-card {
    min-height: 352px;
  }
}

.mention-card:last-child p {
  margin-bottom: 10px;
}

.mention-card__quote {
  position: absolute;
  top: 54px;
  left: 53px;
  z-index: 10000;
}

@media (max-width: 768px) {
  .mention-card__quote {
    display: none;
  }
}

.mention-card__text {
  padding: 0;
  font-size: 15px;
  line-height: 25px;
  margin-bottom: 46px;
}

@media (max-width: 420px) {
  .mention-card__text {
    font-size: 12px;
    line-height: 14px;
    margin-bottom: 16px;
  }
}

.mention__textarea {
  width: 590px;
  height: 160px;
  margin-bottom: 20px;
}

@media (max-width: 1215px) {
  .mention__textarea {
    width: 400px;
  }
}

@media (max-width: 1215px) and (max-width: 768px) {
  .mention__textarea {
    width: 353px;
  }
}

@media (max-width: 1215px) and (max-width: 420px) {
  .mention__textarea {
    width: 218px;
  }
}

.mention-slider-dot {
  list-style: none;
  padding: 0;
  margin: 0;
}

.mention-slider-dot li:hover {
  background-color: rgba(255, 255, 255, 0.3);
  border-top-right-radius: 52px;
  border-bottom-right-radius: 52px;
}

@media (min-width: 993px) {
  .mention-slider-dot li:hover {
    cursor: pointer;
  }
}

@media (max-width: 567px) {
  .mention-slider-dot {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.mention-slider-dot li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 104px;
  padding-left: 27px;
  width: 317px;
  margin-bottom: 22px;
}

@media (max-width: 992px) {
  .mention-slider-dot li {
    width: 126px;
  }
}

@media (max-width: 567px) {
  .mention-slider-dot li {
    padding-left: 5px;
    padding-right: 5px;
  }
}

.mention-slider-dot li span {
  display: none;
  margin-left: 19px;
  margin-top: 1px;
  font-size: 15px;
  line-height: 25px;
}

.mention-slider-dot li.slick-active {
  background-color: #ffffff;
  border-top-right-radius: 52px;
  border-bottom-right-radius: 52px;
}

@media (max-width: 567px) {
  .mention-slider-dot li.slick-active {
    border-radius: 52px;
    border-top-right-radius: 0px;
    border-top-left-radius: 0;
  }
}

.mention-slider-dot li.slick-active span {
  display: block;
}

@media (max-width: 992px) {
  .mention-slider-dot li.slick-active span {
    display: none;
  }
}

.mention__slider .mention-card {
  min-height: 482px;
}

@media (max-width: 420px) {
  .mention__slider .mention-card {
    min-height: 352px;
  }
}

.about {
  text-align: center;
  padding-top: 80px;
  padding-bottom: 92px;
}

@media (max-width: 420px) {
  .about {
    padding: 50px 0;
  }
}

.about__title {
  margin-bottom: 6px;
  margin-left: 17px;
}

.about__subtitle {
  margin-left: 19px;
  margin-bottom: 52px;
}

@media (max-width: 420px) {
  .about__subtitle {
    margin-bottom: 30px;
  }
}

.about__subtitle:after {
  left: 48.1%;
}

@media (max-width: 420px) {
  .about__subtitle:after {
    left: 38.1%;
  }
}

.about__description {
  font-size: 15px;
  line-height: 25px;
  margin-left: 17px;
  padding: 0;
  letter-spacing: -0.15px;
}

@media (max-width: 420px) {
  .about__description {
    line-height: 20px;
  }
}

.news {
  text-align: center;
  padding: 86px 0 47px 16px;
}

.news_color {
  background-color: #f3f3f3;
}

.news__button {
  margin: auto;
  margin-top: 57px;
  width: 198px;
  height: 50px;
}

@media (max-width: 420px) {
  .news__button {
    margin-top: 10px;
  }
}

.news__title {
  margin-bottom: 4px;
  margin-left: 1px;
}

.news__subtitle {
  margin-left: 3px;
  margin-bottom: 61px;
}

.news__subtitle:after {
  left: 48%;
}

.news-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-right: -1px;
}

@media (max-width: 1215px) {
  .news-cards {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.news-card {
  position: relative;
  text-align: left;
  min-height: 464px;
}

@media (max-width: 1215px) {
  .news-card {
    margin-bottom: 30px;
  }
  .news-card:nth-child(2) {
    margin-left: 30px;
  }
}

@media (max-width: 1215px) and (max-width: 768px) {
  .news-card:nth-child(2) {
    margin-left: 0;
  }
}

@media (max-width: 992px) {
  .news-card {
    max-width: 351px;
  }
}

@media (max-width: 768px) {
  .news-card {
    max-width: 381px;
  }
}

@media (max-width: 420px) {
  .news-card {
    margin-bottom: 0;
    min-height: 370px;
  }
}

.news-card:hover {
  background-color: white;
}

@media (max-width: 992px) {
  .news-card:hover {
    background-color: rgba(255, 255, 255, 0);
  }
}

.news-card__date {
  position: absolute;
  top: 28px;
  left: 27px;
  width: 70px;
  height: 60px;
  background-color: #63564f;
  line-height: 20px;
  color: #ffffff;
  padding-top: 11px;
  text-align: center;
}

@media (max-width: 420px) {
  .news-card__date {
    top: 3px;
    left: 3px;
  }
}

.news-card__date-number {
  font-size: 18px;
}

.news-card__title {
  color: #004526;
  text-transform: uppercase;
  margin-top: 30px;
  margin-bottom: 11px;
  margin-left: 26px;
  letter-spacing: -0.6px;
}

@media (max-width: 420px) {
  .news-card__title {
    font-size: 12px;
    margin-left: 3px;
  }
}

.news-card__desc {
  max-width: 304px;
  margin: 0;
  margin-left: 26px;
  font-size: 13px;
  line-height: 22px;
  margin-bottom: 31px;
  letter-spacing: 0.6px;
}

@media (max-width: 420px) {
  .news-card__desc {
    font-size: 11px;
    margin-left: 3px;
  }
}

.news-card .detail__link {
  margin-left: 26px;
}

.news-card .detail__link img {
  margin-left: 39px;
}

.catalog {
  background-color: #fafafa;
}

.catalog__title {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 28px;
  line-height: 26px;
  text-transform: uppercase;
  color: #1f1f1f;
  letter-spacing: 0.56px;
  padding: 0;
  margin: 0;
  margin-bottom: 27px;
}

.catalog .catalog-navigation {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  padding-top: 32px;
  margin-top: 0;
  margin-left: 10px;
  margin-bottom: 23px;
}

.catalog .catalog-navigation__link {
  margin-right: 6px;
  margin-left: 6px;
}

.catalog .catalog-navigation__link:hover {
  text-decoration: underline;
  color: #000000;
}

.catalog-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 0 1px 51px 11px rgba(127, 128, 139, 0.22);
          box-shadow: 0 1px 51px 11px rgba(127, 128, 139, 0.22);
  background-color: #ffffff;
  width: 280px;
  -ms-flex-preferred-size: 280px;
      flex-basis: 280px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-left: 16px;
  margin-right: 28px;
}

@media (max-width: 1215px) {
  .catalog-menu {
    -ms-flex-preferred-size: 220px;
        flex-basis: 220px;
  }
}

@media (max-width: 992px) {
  .catalog-menu {
    -ms-flex-preferred-size: 190px;
        flex-basis: 190px;
  }
}

.catalog-menu__item {
  height: 54px;
  padding: 10px 32px 10px 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 992px) {
  .catalog-menu__item {
    padding: 10px 12px 10px 13px;
  }
}

.catalog-menu__title {
  background-color: #63564f;
  padding: 3px 0 0 0px;
  height: 55px;
}

.catalog-menu__title a {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
}

.catalog-menu__name {
  margin-left: 30px;
  color: #939393;
}

@media (max-width: 992px) {
  .catalog-menu__name {
    margin-left: 15px;
  }
}

.catalog-menu__name:hover {
  color: #ee8b15;
}

.catalog-menu__name:hover + .catalog-menu__arrow {
  opacity: 1;
}

.catalog-menu__arrow {
  margin-left: auto;
  opacity: 0.5;
}

.catalog-content-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media (max-width: 768px) {
  .catalog-content-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.catalog-products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.minicard {
  -webkit-box-shadow: 0 1px 51px 11px rgba(127, 128, 139, 0.06);
          box-shadow: 0 1px 51px 11px rgba(127, 128, 139, 0.06);
  background-color: #ffffff;
  width: 284px;
  padding-bottom: 39px;
  height: 396px;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

@media (max-width: 1215px) {
  .minicard {
    width: 224px;
  }
}

@media (max-width: 992px) {
  .minicard {
    width: 258px;
  }
}

@media (max-width: 768px) {
  .minicard {
    width: 306px;
  }
}

.minicard-wrap-position {
  position: relative;
  width: 284px;
  height: 396px;
  margin-bottom: 20px;
}

@media (max-width: 1215px) {
  .minicard-wrap-position {
    width: 224px;
  }
}

@media (max-width: 992px) {
  .minicard-wrap-position {
    width: 258px;
  }
}

@media (max-width: 768px) {
  .minicard-wrap-position {
    width: 306px;
  }
}

.minicard:hover {
  -webkit-box-shadow: 0 1px 51px 11px rgba(127, 128, 139, 0.22);
          box-shadow: 0 1px 51px 11px rgba(127, 128, 139, 0.22);
  height: 550px;
  z-index: 100;
}

@media (max-width: 992px) {
  .minicard:hover {
    -webkit-box-shadow: 0 1px 51px 11px rgba(127, 128, 139, 0.06);
            box-shadow: 0 1px 51px 11px rgba(127, 128, 139, 0.06);
  }
}

.minicard__title {
  margin: 29px 0 13px 23px;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0.32px;
}

.minicard__img {
  height: 282px;
  border-bottom: 1px solid #ededed;
  position: relative;
}

.minicard__img img {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.minicard__price {
  margin-left: auto;
  margin-right: 28px;
  font-size: 17px;
  line-height: 26px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  letter-spacing: 0.34px;
  color: #7dad4b;
}

@media (max-width: 1215px) {
  .minicard__price {
    display: block;
    font-size: 14px;
  }
}

.minicard__price-line {
  text-decoration: line-through;
  color: #939393;
}

.minicard__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 23px;
  margin-bottom: 20px;
}

@media (max-width: 1215px) {
  .minicard__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.minicard__row img {
  margin-right: 2px;
  height: 12px;
  margin-top: 7px;
}

.input_number {
  width: 59px;
  height: 39px;
  border: 1px solid #f3f3f3;
  margin-right: 5px;
  padding-left: 20px;
}

@media (max-width: 1215px) {
  .input_number {
    width: 34px;
  }
}

.plus, .minus {
  display: block;
  width: 35px;
  height: 39px;
  border: 1px solid #f3f3f3;
  background-color: #ffffff;
  text-align: center;
  padding-top: 8px;
  margin-right: 5px;
}

@media (max-width: 1215px) {
  .plus, .minus {
    width: 28px;
  }
}

.button_mini {
  width: 60px;
  height: 39px;
  margin-left: auto;
  margin-right: 28px;
}

.button_catalog {
  width: 233px;
  height: 46px;
  border: 2px solid #ee8b15;
  background-color: rgba(255, 255, 255, 0);
  color: #ee8b15;
  margin-left: 23px;
  margin-top: 10px;
}

@media (max-width: 1215px) {
  .button_catalog {
    width: 173px;
  }
}

@media (max-width: 768px) {
  .button_catalog {
    width: 255px;
  }
}

.button_catalog:hover {
  color: #ffffff;
  background-color: #ee8b15;
}

#viewmore {
  margin: auto;
  margin-top: 16px;
  color: #ffffff;
  margin-bottom: 86px;
}

input[type="radio"] {
  display: none;
}

.sort-label {
  display: inline-block;
  width: 110px;
  height: 25px;
  border-radius: 13px;
  border: 1px solid #ececec;
  text-align: center;
  padding-top: 4px;
  margin-right: 6px;
}

.sort {
  height: 55px;
  background-color: #ffffff;
  padding: 17px 2px 2px 26px;
  margin-bottom: 40px;
}

.sort_text {
  margin-right: 11px;
}

input[type="radio"]:checked + label {
  background-color: #7dad4b;
}

input.invalid {
  border: 1px solid #C71585;
}

div.invalid {
  color: #C71585;
  font-size: 14px;
}

#username-error {
  position: absolute;
  top: 255px;
  left: 27px;
}

@media (max-width: 1205px) {
  #username-error {
    top: 233px;
  }
}

@media (max-width: 420px) {
  #username-error {
    top: 256px;
  }
}

#userphone-error {
  position: absolute;
  top: 328px;
  left: 27px;
}

@media (max-width: 1205px) {
  #userphone-error {
    top: 306px;
  }
}

@media (max-width: 420px) {
  #userphone-error {
    top: 328px;
  }
}

#usernamei-error {
  position: absolute;
  top: 255px;
  left: 27px;
}

@media (max-width: 1205px) {
  #usernamei-error {
    top: 233px;
  }
}

@media (max-width: 420px) {
  #usernamei-error {
    top: 256px;
  }
}

#userphonei-error {
  position: absolute;
  top: 328px;
  left: 27px;
}

@media (max-width: 1205px) {
  #userphonei-error {
    top: 306px;
  }
}

@media (max-width: 420px) {
  #userphonei-error {
    top: 328px;
  }
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 100;
}

.modal_active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal__close {
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 50px;
  border: none;
  background: #f3f3f3;
  cursor: pointer;
  z-index: 100;
  outline: none;
}

.modal-invite {
  width: 1210px;
  margin: auto;
  padding: 64px 20px;
  background-color: #f3f3f3;
  position: relative;
}

@media (max-width: 1215px) {
  .modal-invite {
    max-width: 980px;
  }
}

@media (max-width: 992px) {
  .modal-invite {
    max-width: 540px;
    padding: 60px 20px;
    padding-bottom: 40px;
  }
}

@media (max-width: 768px) {
  .modal-invite {
    max-width: 540px;
  }
}

@media (max-width: 567px) {
  .modal-invite {
    max-width: 410px;
    padding: 60px 12px 40px 12px;
  }
}

@media (max-width: 420px) {
  .modal-invite {
    max-width: 301px;
  }
}

.modal-invite .modal__close {
  background-color: #ffffff;
}

@media (max-width: 992px) {
  .modal-invite .modal__close {
    background-color: #f3f3f3;
  }
}

.modal-invite .forminvite__wrap {
  margin: auto;
  position: relative;
}

.modal-invite .forminvite__wrap:after {
  content: '';
  position: absolute;
  right: -20px;
  top: -64px;
  background-color: #ffffff;
  display: block;
  height: 121.6%;
  width: 64.85%;
}

@media (max-width: 992px) {
  .modal-invite .forminvite__wrap:after {
    display: none;
  }
}

.modal-invite .forminvite__wrap .forminvite__img {
  min-width: 200px;
}

@media (max-width: 992px) {
  .modal-invite .forminvite__wrap .forminvite__img {
    display: none;
  }
}

.modal-invite .forminvite__wrap .forminvite__form {
  margin-top: 0;
}

.modal-success {
  margin: auto;
  width: 670px;
  height: 200px;
  background-color: #f3f3f3;
  position: relative;
  text-align: center;
  padding: 74px 150px;
  line-height: 1.8;
  z-index: 99999;
  border: 2px solid #004526;
}

@media (max-width: 768px) {
  .modal-success {
    width: 470px;
    padding: 63px 130px;
  }
}

@media (max-width: 567px) {
  .modal-success {
    width: 370px;
    padding: 63px 80px;
  }
}

@media (max-width: 420px) {
  .modal-success {
    width: 277px;
    height: 150px;
    padding: 42px 40px;
  }
}

.treatment:after {
  position: absolute;
  content: '';
  display: block;
  width: 10%;
  height: 2px;
  top: 50%;
  left: 45%;
  background-color: #004526;
}

@media (max-width: 768px) {
  .treatment:after {
    top: 45%;
  }
}

@media (max-width: 567px) {
  .treatment:after {
    width: 20%;
    left: 39%;
  }
}

@media (max-width: 420px) {
  .treatment:after {
    top: 46%;
  }
}

#modal1 {
  z-index: 90;
}

.timetest {
  text-align: center;
}
/*# sourceMappingURL=style.css.map */